    <div class="p-4">
        <h4>Confirmer la suppression</h4>
        <p>Êtes-vous sûr de vouloir supprimer cet élément ? Cette action est irréversible.</p>

        <div class="d-flex justify-content-end mt-4">
            <MudButton OnClick="@OnCancel" 
                       Variant="Variant.Filled" 
                       Color="Color.Secondary" 
                       Class="mr-2">
                Annuler
            </MudButton>
            <MudButton OnClick="@OnConfirm" 
                       Variant="Variant.Filled" 
                       Color="Color.Error">
                Supprimer
            </MudButton>
        </div>
    </div>

@code {
    [Parameter]
	public int ItemId { get; set; }

    [Parameter]
    public Func<int, Task<bool>>? DeleteAction { get; set; }

    [Parameter]
    public string RedirectUrl { get; set; } = "/";

    private async Task OnConfirm()
    {
        if (DeleteAction is not null)
        {
            bool result = await DeleteAction.Invoke(ItemId);

            if (result)
            {
                _dialogService.Close(true);
                if (!string.IsNullOrWhiteSpace(RedirectUrl))
                    _navigationManager.NavigateTo(RedirectUrl);
            }
            else 
                _dialogService.Close(false);
        }
    }

    private void OnCancel() => _dialogService.Close(false);
}
