@page "/login"
@using GymManagement.Presentation.WebApp.ApiClients

<PageTitle>Login</PageTitle>

<h3>Connexion</h3>
@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color: red">@errorMessage</p>
}

<EditForm Model="_loginDto" OnValidSubmit="HandleLogin" FormName="Login">
    <DataAnnotationsValidator />
    <div>
        <label>Email</label>
        <InputText @bind-Value="_loginDto!.Email" />
    </div>
    <div>
        <label>Mot de passe</label>
        <InputText @bind-Value="_loginDto!.Password" type="password" />
    </div>
    <RadzenButton ButtonStyle="ButtonStyle.Primary" type="submit">Log in</RadzenButton>
</EditForm>

@code {
    [SupplyParameterFromForm(FormName = "Login")]
    private LoginDto _loginDto { get; set; } = new();

    private string errorMessage = "";

    private async Task HandleLogin()
    {
        var loginResult = await _authManager.Login(_loginDto);
        if (loginResult.Success)
				_authManager.RedirectToHome();

		else if (loginResult.Fault == GymFaultType.GetTokenFailed)
            errorMessage = "Identifiants incorrects.";
        
        else
            errorMessage = "Vous n'avez pas les permissions.";
    }
}
