@page "/membership-plan/{MembershipPlanId:int}"
@using GymManagement.Presentation.WebApp.ApiClients
@rendermode InteractiveServer
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

<PageTitle>Membership plan</PageTitle>

<NavLink class="btn btn-primary nav-link" href="membership-plans" style="margin-bottom: 20px; width: 100px; display: inline-block;">
	<span class="bi bi-list-nested" aria-hidden="true"></span> Retour
</NavLink>

<h3>Membership plan Details</h3>

@if (membershipPlan == null)
{
	<p>Loading...</p>
}
else
{
	<div>
		<MembershipPlanComponent MembershipPlan="membershipPlan"></MembershipPlanComponent>
		<MembershipComponent Memberships="membershipPlan.Memberships"></MembershipComponent>
		<RadzenButton Text="Update" Click="OpenUpdateMembershipPlanDialog" Style="margin-bottom: 20px;" />
	</div>
}

@code {
	[Parameter]
	public int MembershipPlanId { get; set; }

	private MembershipPlanDetailsDto? membershipPlan;

	protected override async Task OnInitializedAsync()
	{
		await LoadMembershipPlan();
	}

	private async Task LoadMembershipPlan()
	{
		membershipPlan = await _gymApiClient.GetMembershipPlanByIdAsync(MembershipPlanId);
	}

	private async Task OpenUpdateMembershipPlanDialog()
	{
		if (membershipPlan == null)
			return;

		var result = await _dialogService.OpenAsync<UpdateMembershipPlanPopup>("Modifier le plan d'abonnement", new Dictionary<string, object>()
			{
				["MembershipPlan"] = membershipPlan
			},
			options: new DialogOptions
				{
					Width = "600px",
					Height = "500px",
					Style = "top: 20vh; left: 12vw;"
				});

		if (result is true)
			await LoadMembershipPlan();
	}
}