@page "/user/{userId:int}"
@rendermode InteractiveServer
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

<PageTitle>User</PageTitle>

<NavLink class="btn btn-primary nav-link" href="users" style="margin-bottom: 20px; width: 100px; display: inline-block;">
    <span class="bi bi-list-nested" aria-hidden="true"></span> Retour
</NavLink>

<h3>User Details</h3>

@if (user == null)
{
	<p>Loading...</p>
}
else
{
	<div>
		<UserComponent User="user"></UserComponent>
		<MembershipComponent Memberships="user.Memberships" UserId="user.Id" OnPaymentRequested="LoadUser"></MembershipComponent>
		<AttendanceComponent Attendances="user.Attendances"></AttendanceComponent>
		    <MudButton OnClick="OpenUpdateUserDialog" Variant="Variant.Filled" Color="Color.Primary" Class="mb-3 mr-2">
        Update
    </MudButton>
    <MudButton OnClick="OpenSubscribeUserDialog" Variant="Variant.Filled" Color="Color.Secondary" Class="mb-3 mr-2">
        Subscribe
    </MudButton>
    <MudButton OnClick="OpenDeleteUserDialog" Variant="Variant.Filled" Color="Color.Error" Class="mb-3">
        Delete
    </MudButton>
	</div>
}

@code {
	[Parameter]
	public int userId { get; set; }

	private UserDetailsDto? user;

	protected override async Task OnInitializedAsync()
	{
		await LoadUser();
	}

	private async Task LoadUser()
	{
		user = await _gymApiClient.GetUserByIdAsync(userId);
	}

	private async Task OpenUpdateUserDialog()
	{
		if (user == null)
			return;

		var parameters = new DialogParameters();
		parameters.Add("User", user);
		
		var options = new DialogOptions 
		{ 
			MaxWidth = MaxWidth.Medium,
			CloseOnEscapeKey = true,
			CloseButton = true
		};
		
		var result = await _dialogService.ShowAsync<UpdateUserPopup>("Modifier l'utilisateur", parameters, options);

		if (result.Result == DialogResult.Ok())
			await LoadUser();
	}

	private async Task OpenSubscribeUserDialog()
	{
		if (user == null)
			return;

		var parameters = new DialogParameters();
		parameters.Add("UserId", userId);
		
		var options = new DialogOptions 
		{ 
			MaxWidth = MaxWidth.Medium,
			CloseOnEscapeKey = true,
			CloseButton = true
		};
		
		var result = await _dialogService.ShowAsync<SubscribeUserPopup>("Abonner l'utilisateur", parameters, options);

		if (result.Result == DialogResult.Ok())
			await LoadUser();
	}

	private async Task OpenDeleteUserDialog()
	{
		if (user == null)
			return;

		var parameters = new DialogParameters();
		parameters.Add("ItemId", userId);
		parameters.Add("DeleteAction", new Func<int, Task<bool>>(async id =>
		{
			return await _gymApiClient.DeleteUserAsync(id);
		}));
		parameters.Add("RedirectUrl", "users");
		
		var options = new DialogOptions 
		{ 
			MaxWidth = MaxWidth.Small,
			CloseOnEscapeKey = true,
			CloseButton = true
		};
		
		var result = await _dialogService.ShowAsync<DeletePopup>("Supprimer l'utilisateur", parameters, options);
	}
}
